.instructor{
    text-align: center;
    background: rgb(234, 236, 255);
}
.instructor-banner{
    background-image: linear-gradient(to bottom, #25567263 0%,rgba(0, 0, 0, 0.63) 100%), url('../../images/home-banner.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructor-img{
    height: 500px;
    width: 100%;
}
.instructor-item{
    position: relative;
    overflow: hidden;
    
}
.instructor-details{
    transition: bottom 0.5s 0s ease;
    position: absolute;
    background: rgba(33, 33, 128, 0.938);
    bottom:0;
    left: 0;
    right: 0;
    height: 170px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}