@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.banner h2{
    font-family: 'Yellowtail', cursive;
}
.banner{
    background-image: linear-gradient(to bottom, #25567263 0%,rgba(0, 0, 0, 0.63) 100%), url('../../images/banner3.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    height: 500px;
}
.banner p{
    font-weight: 500;
}